.friendList {
    list-style: none;
}

.item {
    background-color: #eff3f5;
    display: flex;
    margin-bottom: 30px;
    padding: 20px;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 0 5px 0 #00000060;
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
}

.isOnline {
    background-color: green;
}

.avatar {
    margin-right: 20px;
}

.name {
    margin: 0;
    font-size: 30px;
}