.transactionHistory {
    display: block;
    background-color: #eff3f5;
    border-radius: 6px;
    box-shadow: 0 0 5px 0 #00000060;
    
}

.title {
    background-color: #fff;
    font-size: 32px;
    padding: 30px;
    border-radius: 6px;
}
.string {
    background-color: #fff;
}

.string:nth-child(even) {
    background-color: #eff3f5;
}

.tableItems {
    font-size: 22px;
    padding: 30px;
    text-align: center;
}